# Do use quotes when assigning values to variables
# 12 word MNEMONIC for ganache development network.
# e.g. MNEMONIC = purse whisper ... hold solid 
MNEMONIC=
# Publons token. Should have format 'Token 21fabc2..341'. Don't put quotes below.
PUBLONS_AUTH_TOKEN=Token 